.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  min-height: 100vh;
}

#carousel {
  display: flex;
  justify-content: center;
}

#carousel #carousel-text {
  position: absolute;
  top: 45vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
  text-align: center;
}

#carousel .carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  min-height: 90vh;
  height: 95%;
  opacity: 1;
  transition: opacity 1s;
}

#carousel .carousel-image.hidden {
  opacity: 0;
}