.site {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  flex-direction: column;
}

.site-content {
  flex: 1;
  min-height: 100vh;
}

#carousel {
  display: flex;
  justify-content: center;
}

#carousel #carousel-text {
  position: absolute;
  top: 45vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
  text-align: center;
}

#carousel .carousel-image {
  position: absolute;
  display: flex;
  margin: auto;
  min-width: 100vw;
  min-height: 90%;
  height: 95%;
  opacity: 1;
  transition: opacity 1s;
}

#carousel .carousel-image.hidden {
  opacity: 0;
}

nav {
  position: absolute;
  height: 3vh;
}

.logo {
  width: 20px;
  height: 20px;
}

.chartContainer {
  display: flex;
  margin: 2em;
  flex-direction: row;
}

.updateForm {
  margin: 5em;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.tools {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-right: 3em;
  height: 100vh;
  min-width: 15vw;
}

.tool-item {
  display: flex;
  justify-content: left;
  width: '8em';
  margin-bottom: 1em;
}

.tool-button {
  width: 20em;
  max-width: 20em;
  min-width: 20em;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  /* height: 4vh; */
}

body {
  font-family: Helvetica;
}

.node rect {
  shape-rendering: crispEdges;
}

.node {
  fill-opacity: 0.7;
}

.node:hover {
  cursor: pointer;
  fill-opacity: 1;
}

.node text {
  fill: #888888;
  stroke: none;
  font-size: 0.8em;
}

.link {
  stroke-opacity: 0.4;
  fill: none;
}

.link:hover {
  stroke-opacity: 0.6;
  cursor: pointer;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.header h3 {
  margin-top: 8px;
}

select.btn {
  -webkit-appearance: default-button;
  max-width: 115px;
}

.col-xs-4,
.col-xs-8 {
  z-index: 0;
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}

.btn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-primary {
  -webkit-appearance: button;
  background-color: #5badf0;
  border-color: #4ca1e7;
}

.btn-primary:hover {
  background-color: #2389dc;
  border-color: #2389dc;
}
a {
  color: #5badf0;
}

a:hover {
  color: #4ca1e7;
}

.clearFix {
  clear: both;
}

.startNew {
  margin-left: 10px;
}

.toolBar {
  margin-top: 30px;
  margin-bottom: 30px;
}
.chart {
  margin-bottom: 20px;
}

.legend {
  background-color: #fcf8e3;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: #666;
}

.ui.card:first-child {
  margin-top: auto;
}

.grid-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgba(169, 169, 169, 0.7);
  margin: 20px;
  border-radius: 5px;
}

.title {
  display: flex;
  justify-content: center;
}

.tools-footer {
  margin: 3em;
  display: flex;
  flex-direction: row;
}

#loginContainer {
  background-color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  direction: ltr;
  font: 16px Roboto, arial, sans-serif;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 360px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.login-button {
  display: inline-block;
  height: 36px;
  margin: 8px;
  min-width: 88px;
}

.login-input {
  border-radius: 10; /** iOS puts rounded corners on text inputs. */
  color: rgba(0, 0, 0, 0.87);
  direction: ltr;
  font-size: 16px;
  width: 90%;
  height: 36px;
  border-color: rgba(0, 0, 0, 0.12);
  margin: 4px;
}

#google-login {
  color: #444;
  white-space: nowrap;
  margin-top: 14px;
}

span.label {
  font-family: serif;
  font-weight: normal;
}
span.ggl-icon {
  background: url('/identity/sign-in/g-normal.png') transparent 5px 50%
    no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

.bar-json-util {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(169, 169, 169, 0.7);
}

#login-box {
  display: flex;
  margin: 10%;
  align-self: stretch;
}

.svg-container {
  display: inline-block;
  position: relative;
  /* width: 100%;
  padding-bottom: 100%; */
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border: #252525;
  border-width: 1px;
}

.svg-centered {
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.time-event {
  opacity: .5;
  cursor: pointer;
}

.time-event:hover {
  opacity: 1;
}
